<h2 class="row mb-1 col-12">Neue Eissorte hinzufügen</h2>

<ng-container *ngIf="(newFlavorState$ | async) as newFlavorState">

    <form [formGroup]="flavorFormGroup" (ngSubmit)="onSubmit()">

        <div class="row form-group col-8 mt-2">
            <label for="flavorName">Name</label>
            <input type="text" class="form-control" id="flavorName" placeholder="Was für ein Eis?" formControlName="name">
        </div>
        <div class="row form-group col-8 mt-2">
            <label for="flavorCategory">Kategorie</label>
            <select class="form-control" id="flavorCategory" formControlName="category">
                <option value="" disabled selected>Bitte wählen</option>
                <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
            </select>
        </div>
        <div class="row form-group mt-2">
            <label class="col-12" for="flavorIngredients">Zutaten</label>
            <div class="col-12 mb-1">
                <button type="button" class="btn btn-secondary btn-sm" (click)="addIngredient()">+</button>
            </div>
            <ng-container formArrayName="ingredients">
                <ng-container *ngFor="let ingredientForm of ingredients.controls; let i = index">
                    <div class="d-flex col-8" >
                            <input [formControlName]="i" placeholder="Zutat eingeben">
                            <button type="button" class="btn-close btn-sm align-self-center" aria-label="Close" (click)="deleteIngredient(i)"></button>
                            
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="row form-group col-8 mt-2">
            <label for="flavorFoodIntolerance">Lebensmittewlunverträglichkeiten</label>
            <textarea class="form-control" id="flavorFoodIntolerance" rows="3" placeholder="Unbedingt ausfühlen!" formControlName="foodIntolerance"></textarea>
        </div>
        <div class="row form-group col-8 mt-2">
            <label for="flavorNutritionalValue">Nährwert</label>
            <input type="number" class="form-control" id="flavorNutritionalValue" placeholder="In kcal / 100g" formControlName="nutritionalValue">
        </div>
        <div class="row form-group col-8 mt-2">
            <label for="flavorPrice">VK Preis</label>
            <input type="text" class="form-control" id="flavorPrice" placeholder="in Euro / Liter" formControlName="price">
        </div>
        <div class="row col-8 mt-2 d-flex">
            <button type="submit" class=" col-3 btn btn-primary">Hinzufügen</button>
        </div>
        <div *ngIf="newFlavorState === CallState.ERROR">Ein Fehler ist aufgetreten. Bitte wiederholen Sie den Vorgang.</div>
    </form>

</ng-container>